

.resaltar {
    color: coral;
    font-weight: bold;
}
.fondo {
    background-color: black;
    color: gold;
}

p {
    background-color: rgb(133, 185, 148);
}

#sec5 {
    background-color: crimson;
}

/* estilos basicos para la pagina */
body {
	font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

/* contenedor de elementos flex */
.container {
	display: flex;
    justify-content: space-around; /* Espacio alrededor de los elementos */
    background-color: #e6d1f3;
    padding: 20px;
    border-radius: 15px;	/* redondeo para las esquinas */
    box-shadow: 0 0 50px rgba(0, 0, 0, 0);
}

/* Estilos para las cajas */
.caja {
    background-color: hwb(135 66% 5%);
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    flex: 1; /* Flex-grow, permite que las cajas crezcan para ocupar el espacio disponible */
    margin: 10px; /* Espacio entre las cajas */
}

.column {
    flex-direction: column;
}

/* valores de flex-direction */
.row {
    flex-direction: row;	/* default */
}

button {
    background-color: gray;
    transition: background-color 1.5s;
}

button:hover {
    background-color: blue;
	color: yellow ;
}

@keyframes anima {
	from {background-color: rgb(152, 180, 241);}
    to {background-color: rgb(217, 132, 250);}
}

.ani {
    background-color: rgb(151, 240, 195);
    animation: anima 4s infinite;
}